<?php
return [
    'zend-intercom' => [
        'app_id' => 'YOUR APP ID',
        'access_token' => 'YOUR ACCESS TOKEN',
        'enable_javascript_integration' => false,
        'excluded_routes' => [],
        'zend_intercom_auth_identity_id_method' => 'getId',
        'zend_intercom_auth_identity_email_method' => 'getEmail'
    ],
    'service_manager' => [
        'aliases' => [
            'zend_intercom_auth_service' => 'zfcuser_auth_service'
        ]
    ]
];